<div class="box <%= pro.category %>">
    <div class="box-img">
        <a href="/product_detail?id=<%= pro.proID %>"> 
            <img src="<%= pro.image %>" alt="Main Product Image"> </a>
    </div>
</a>
<div class="title-price">
    <h3><%= pro.name %></h3>
    <div class="stars">
        <i class='bx bxs-star' ></i>
        <i class='bx bxs-star' ></i>
        <i class='bx bxs-star' ></i>
        <i class='bx bxs-star' ></i>
        <i class='bx bxs-star-half' ></i>
    </div>
</div>
<span class="price"><%= pro.price %></span>
<i class='bx bx-cart-add'></i>
</div>

<!-- <div class="box <%= pro.category %>">
<div class="box-img">
    <img src=<%= pro.image %>>
</div>
<div class="title-price">
    <h3><%= pro.name %></h3>
    <div class="stars">
        <i class='bx bxs-star' ></i>
        <i class='bx bxs-star' ></i>
        <i class='bx bxs-star' ></i>
        <i class='bx bxs-star' ></i>
        <i class='bx bxs-star-half' ></i>
    </div>
</div>
<span><%= pro.price %></span>
<i class='bx bx-cart-add'></i>
</div> -->